#userProfile {
	width:80%;
	margin:auto;
	white-space: nowrap;
}

#userPhoto {
	margin-top: 15px;
	border-radius:100%;
	display:inline-block
}

#userInfo {
	width: 65%;
	min-width:450px;
	list-style-type: none;
	display:inline-block
}
